/* Copyright IBM Corp. 2012, 2013  All Rights Reserved.              */

.lotusui30_body,
.lotusui30_body .lotusFrame {background-color:#fff;}

.lcPreviewGadget div.gadgets-gadget-title-bar,
.lcPreviewGadget div.gadgets-gadget-user-prefs-dialog {
display: none;
}
.eeImgPrev {
overflow: hidden;
display: block;
position: relative;
float: left;
margin-right: 10px;
}
.lconnNumFollowers { color: #707070 !important; }
.lotusCommentList .eeCommentError {
padding-top: 10px !important;
}
html.dj_safari textarea.eeTextArea { min-height: 0px;}
.lotusui30 .lotusForumReplies .lotusBoard .lotusCommentList:after {
background: none;
height: 0;
width: 0;
}
.lotusui30 .lotusForumReplies .lotusBoard ul.lotusCommentList li.lotusCommentItem {
border-width: 0;
}
.lotusui30 .lotusForumReplies .lotusBoard ul.lotusCommentList li.lotusCommentItem.showMore {
border-width: 1px;
margin-top: 10px;
}
.lotusui30 .lotusForumReplies .lotusBoard ul.lotusCommentList li.lotusCommentItem div.lotusPost {
border-right: 1px solid #DDDDDD;
border-left: 1px solid #DDDDDD;
border-bottom: 1px solid #DDDDDD;
}
.lotusui30 .lotusForumReplies .lotusBoard ul.lotusCommentList li.lotusCommentItem div.lotusPost.selected {
background-color: #FFFFFF;
}
.lotusui30 .lotusForumReplies .lotusBoard .lotusPost .lotusActions {
margin-top: 0;
padding-top: 0;
margin-bottom: 5px;
}
.lotusui30 .lotusForumReplies .lotusBoard .lotusCommentList {
margin-top: 0;
}
.lotusui30 .lotusForumReplies .lotusBoard ul.lotusCommentList {
border-width: 0;
}
.lotusui30 .lotusForumReplies.noShowMore .lotusBoard ul.lotusCommentList {
border-width: 1px 0 0;
border-color: #DDDDDD;
margin-top: 10px;
}
.lotusui30 .lotusForumReplies .lotusBoard ul.lotusCommentList.lotusChild {
border-width: 0 !important;
margin-top: 0px;
}
.lotusui30 .lotusForumReplies .navigateLink {
float: right;
}
.lotusui30 .lotusForumReplies .navigateLink img {
vertical-align: baseline;
}
.lotusui30 .lotusForumReplies .navigateLink {
display: block;
position: absolute;
right: 0;
top: -9999px;
}
.lotusui30 .lotusForumReplies .lotusPostHover .navigateLink {
display: inline;
position: static;
right: 0;
top: 0;
}
.lotusui30 .lotusPostHover .replyAction {
display: inline;
position: static;
right: 0;
top: 0;
}
.lotusui30 .replyAction {
display: block;
position: absolute;
right: 0;
top: -9999px;
}
.lotusui30 .lotusForumReplies .lotusBoard ul.lotusCommentList .lotusChild {
background: url("/com.ibm.lconn.core.styles.oneui3/images/commentIndent.png") no-repeat scroll left top transparent;
list-style-type: none;
margin-left: 0;
padding-left: 16px;
background-color: #FFFFFF;
}
.lotusui30 .lotusFlyoutInner .lotusBoard .lotusPostContent {
padding: 0
}
.lotusui30 .lotusFlyoutInner .lotusBoard .lotusCommentList:after {
background: none;
height: 0;
width: 0;
}
.eeDropDown {
margin-left: 4px;
}
.lotusui_ie .lotusui30 .lotusFlyoutInner .lotusBoard .lotusCommentList .lotusAddComment {
margin-right: -2px;
}
.lotusui_ie .lotusui30 .lotusFlyoutInner .lotusBoard {
padding-left: 2px;
padding-right: 2px;
}
.lotusui30 .lotusFlyoutInner .discussThisContent h4 {
margin-bottom: 3px;
}
.lotusui30 .lotusFlyoutInner .lotusCommentsCondensed .lotusPostContent .lotusMeta {
position: relative;
}
.lotusui30 .lotusFlyoutInner .lotusCommentsCondensed .lotusPostAction {
margin-right: 0;
}
.eeFirstTab {
margin-left: 1px !important;
}
.eeActions {
margin-bottom: 5px;
margin-left: 2px;
}
.eeActionLinks {
margin-left: 2px !important;
}
.eeHeading {
padding-top: 3px;
}
.eeCommentContent {
padding-left: 2px !important;
}
.eeShortCommentContent {
max-height: 4.5em;
}
.lotusNetworkPerson { padding: 2px 7px 4px 0px; }
.lotusDim {opacity:0.5; filter:alpha(opacity=50); width:100%; }
.lotusui_ie .lotusDim img { filter:alpha(opacity=50); }
.ideaGraduated {padding: 3px 5px; border: 1px solid #8AC4FF; display:inline-block; background-color:#C5E2FF; color:#105CB6;}
.lotusui30 .lotusFlyoutInner .lotusHeadingChunk {font-size:1.5em;}
.lotusui30 .lotusFlyoutInner .lotusHeading {font-family: Arial, Helvetica, sans-serif;}
.lotusui30 .lotusFlyoutInner .lotusStatus {font-size:1.1em; color:#444;}
.eeOAuthImg {
float: left;
}
.eeOAuthBodyContent {
margin-left: 50px;
max-width: 360px;
}
.lotusui30 .lconnEmpty {
color: #666666;
font-style: italic;
}
.lotusui30 .lotusFlyoutInner .lotusCommentList .lotusLikeCount {
background: none;
border-radius: 0px;
border-width: 0px;
margin-right: 0px;
}
.lotusui30 .lotusFlyoutInner .lotusCommentList .lotusLikeConnector {
display: none;
}
.lotusui30 .lotusFlyoutInner .lotusBoard .lotusStreamUpdate .lotusText {
height: auto;
min-height: 2em;
}
.lotusui30 .lotusFlyoutInner .mentionsWarning .lotusMessage2 {
margin: -10px 0 20px 0;
padding: 5px;
}
.lotusui30 .lotusFlyoutInner .lotusCommentList li.lotusAddComment .lotusMentionsDiv a {
padding-bottom: 0;
}
