/* Copyright IBM Corp. 2010, 2013  All Rights Reserved.              */

/*IE8 doesn't like relative positioning with the full height pseudo-element background*/
.lotusui30 .lconnHomepageColLeft {
  position: static;
}
.lotusui30_layout .lotusMain .lotusContent {
  padding: 0;
  background-color: transparent;
  border-width: 0;
}
.lotusui30.lotusAbout .lotusui30_layout .lotusMain .lotusContent {
  border: 1px solid #D2D2D2;
  background-color: #FFFFFF;
  padding: 20px;
}
.lotusWidget .entry {
  padding: 7px 0px 5px 0px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  clear: both;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
}
.lotusWidget .entryBody {
  margin: 0px 0px 0px 45px;
}
.lotusWidget .wikiEntryBody {
  margin: 0px 0px 0px 0px;
}
.lotusWidget .entry h4,
.lotusDialog .entry h4 {
  margin: 0px 1em 0px 0px;
  font-size: 1.2em;
  font-weight: bold;
  overflow: hidden;
}
.lotusWidget .entry h6 {
  margin: 0px 1em 0px 0px;
  font-size: .85em;
  color: #666;
  line-height: 1.2em;
}
.lotusWidget .entry p {
  margin: 0px 1em 0px 0px;
  padding: 0;
  line-height: 1.2em;
}
.lotusWidget .widgetTitle {
  text-align: left;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  height: 20px;
}
.lotusWidget .entry .icons {
  float: left;
  padding: 0px;
  margin: 0px;
}
.lotusWidget .widgetFooter {
  margin-left: 10px;
  margin-right: 10px;
}
.lotusWidget .divider {
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
.lotusWidget .ibmDndDragHandle {
  padding-left: 10px;
  padding-right: 10px;
}
.lotusui30 .lotusWidget .widgetOptionScroll {
  width: auto;
}
.lotusui .lotusPaletteContent {
  overflow: auto;
}
.lotusui_ie6 .lotusPaletteWidgets {
  height: auto !important;
  height: 16.7em;
}
.lotusui_ie6 .lotusWidget h3.largeChars {
  line-height: 1.5em;
}
.lotusui_ie7 .lotusWidget h3.largeChars {
  line-height: 1.5em;
}
.lotusui_ie6 .lotusContent .lotusWidget {
  width: 100%;
}
.lotusui a.homepageUnclickable,
.lotusui a.homepageUnclickable:hover,
.lotusui a.homepageUnclickable:focus,
.lotusui a.homepageUnclickable:active {
  text-decoration: none;
  cursor: default;
}
.entryBodySmall {
  margin: 0px 0px 0px 25px;
}
.entryBodyMedium {
  margin: 0px 0px 0px 60px;
}
.entryBodyLarge {
  margin: 0px 0px 0px 45px;
}
.profilesEntryBodyLarge {
  margin: 0px 0px 0px 90px;
}
.lotusWidget .welcomeNode {
  padding-top: 1px;
  padding-left: 10px;
}
.entryBodyAuto {
  height: auto;
}
.entry {
  padding: 7px 0px 5px 0px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  clear: both;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
}
.entry h5 {
  margin: 0px 1em 0px 0px;
  font-size: 1.0em;
  color: #666;
  line-height: 1.2em;
}
.entry .tags {
  float: right;
  margin-right: 10px;
  overflow: hidden;
}
.entry .icons {
  float: left;
  padding: 0px;
  margin: 0px;
}
.entry .divider {
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
.noBorder {
  border: none !important;
}
.lotusWidgetButtons .lotusTitle {
  overflow: hidden;
}
.lotusWidgetButtons .lotusWidgetButtonsText {
  margin-left: 30px;
  margin-right: 10px;
  height: 30px;
}
.lotusWidgetButtons .lotusWidgetButtonsIcon {
  margin: 2px;
}
.ibmDndDragHandle .dijitLeft {
  float: none;
}
.lotusWidgetTable {
  width: 100%;
  border-spacing: 0;
}
.lotus2Col {
  width: 50%;
  overflow: hidden;
  height: 375px;
  vertical-align: top;
  padding: 0;
}
.lotus3Col {
  width: 33%;
  overflow: hidden;
  height: 375px;
  vertical-align: top;
}
.lotusui .lotusPostDetails .homepageCurrentPerson {
  padding-right: 3px;
}
.homepageUpdateStatusForm {
  background-color: #EAECEE;
  margin-left: 10px;
}
.lotusui .lotusContent .homepageStatusUpdateBreak {
  height: 1px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.lotusui_ie6 .homepageStatusUpdateBreak {
  line-height: 1px;
}
.lotusui .activitiesCalPopup .dijitPopup .dijitTooltipContainer {
  border: none !important;
}
.lotusui .activitiesCalPopup .dijitPopup .dijitTooltipContainer {
  border-style: none !important;
}
.notelist {
  -moz-border-radius: 5px;
  background-color: #cfa;
  border: solid 1px #0b0;
  min-width: 20em;
}
.lotusui_ie6 .notelist {
  width: 20em;
}
.notelist .note .icon {
  display: inline;
  width: 16px;
  height: 16px;
  padding: 3px;
}
.notelist .note {
  overflow: hidden;
  white-space: nowrap;
}
.popup {
  position: absolute;
  z-index: 200;
  background-color: #fff;
  float: none;
  text-align: left;
}
.lotusWidget .day {
  text-align: left;
  color: #9baabc;
  font-size: 1.2em;
  margin: 4px 0px 7px 0px;
}
.lotusWidget .year {
  color: #9BAABC;
  float: right;
  font-size: 1.2em;
  padding-right: 15px;
  text-align: right;
  width: 75px;
}
.lotusWidget .entry .overline_todo {
  font-weight: bold;
  margin-bottom: 5px;
}
.lotusWidget .previousMonthText {
  display: none;
}
.dijit_a11y .lotusWidget .previousMonthText {
  display: block;
}
.lotusWidget .nextMonthText {
  display: none;
}
.dijit_a11y .lotusWidget .nextMonthText {
  display: block;
}
.lotusSection .previousMonthText {
  display: none;
}
.dijit_a11y .lotusSection .previousMonthText {
  display: block;
}
.lotusSection .nextMonthText {
  display: none;
}
.dijit_a11y .lotusSection .nextMonthText {
  display: block;
}
.lotusui_ie .dijitCalendarContainer .dijitCalendarIncrementControl {
  width: auto !important;
  margin: 0px 2px !important;
}
.dj_gecko .dijitCalendarContainer .dijitCalendarIncrementControl {
  padding-left: 0px !important;
}
table.activitiesTablePadding {
  margin: 1px;
}
.activityInfoColumn {
  padding-left: 7px;
}
.lotusui .entryBody .content p {
  margin: 0;
}
.idbc {
  width: 400px;
  border: 2px solid #cccccc;
  background-color: white;
}
.idbt {
  margin: 1px;
  padding: 5px 10px 3px 10px;
  background-color: #eeeeee;
  font-weight: bold;
}
.idbi {
  padding: 3px 10px 5px 10px;
}
.lotusSection .ibmDndDragHandle {
  cursor: move;
}
.lotusWidgetLink {
  width: 97%;
  display: block;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}
.lotusFrame3Col {
  min-width: 1050px;
}
.removeSubscriptionAlign {
  margin: 5px 0px;
  background-color: white;
  right: 0px;
  position: absolute;
  padding-left: 10px;
}
.readNotifications {
  background-color: #f8f9fa;
}
.deleteNotification {
  margin-right: 5px;
}
.recipientsPopupBox {
  width: 200px;
}
.updatePage span.iw-iWidget {
  display: block;
  overflow-y: auto;
}
.lotusui_ie6 .updatePage #lotusContent {
  width: expression(document.body.clientWidth - 280 + \"px\");
}
.lotusHompageTooltipConnector {
  background: transparent url("/sn.coreui/Web Content/common/styles/base/tooltipConnectorLeft.png") no-repeat scroll left top;
  left: 0px;
  bottom: 3px;
  -moz-background-clip: border;
  -moz-background-origin: padding;
  -moz-background-inline-policy: continuous;
  width: 16px;
  height: 14px;
  vertical-align: top;
  top: 13px;
  position: absolute;
}
.lotusHomepageDropDown {
  background-image: url("/com.ibm.lconn.core.styles.oneui3/images/lotusSprite-8bit.png");
  background-position: 0 -1764px;
  width: 16px;
  height: 11px;
  font-size: 1px;
  margin: 0px 4px 0px 5px;
}
.lotusHomepageFilterList {
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  margin-top: 4px;
  padding: 7px 7px 7px 7px;
  border-style: solid;
  border-width: 3px;
  border-color: #B4D5FC;
  height: 150px;
  background-color: #ffffff;
  min-width: 100px;
}
.lotusHomepageFollowTag {
  text-decoration: none;
  padding: 5px;
  background-color: #F0F4F7;
  border: 1px solid #cccccc;
}
.lotusHomepageComment {
  background-color: #f8f8f8;
  margin-bottom: 2px;
}
.lotusHomepageIndent5 {
  padding-left: 5px;
}
.lotusHomepageIndent15 {
  padding-left: 15px;
}
.lotusHomepageIndent45 {
  padding-left: 45px;
}
.lotusHomepagePost {
  margin-left: -5px !important;
}
.storyContainerPadding {
  padding: 2px 0px 0px 0px;
}
.lotusEntryExpended {
  background-color: #f3f7fc;
}
.storyTitleOver {
  background-color: #f3f7fc;
}
.storyTitleBar {
  padding: 0px 0px 5px 0px;
  cursor: pointer;
  overflow: hidden;
}
.extraPadding {
  padding: 0 3px 2px 20px !important;
}
.lotusui_ie6 .story-container {
  height: 1px;
}
.lotusContent .updatesDateBorder {
  margin-bottom: 5px;
  margin-top: 15px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}
.lotusui_ie6 .lotusContent .updatesDateBorder {
  margin-top: 5px;
  background-color: #FFFFFF;
}
.riverDetails {
  margin: 0px 5px 5px 34px;
  min-height: 0px;
}
.riverHeader {
  margin: 2px 20px;
}
.river-stories-container .lotusFeeds {
  margin: 10px 10px 10px 10px;
}
li.filterAlign {
  margin-left: 5px !important;
}
.storyTitleBar a.lotusPerson {
  font-weight: normal;
}
.storyTitleBar .sprite {
  padding: 0 3px 2px 2px;
}
.storyTitleBar .toggle-action {
  font-weight: normal;
}
.storyContainerPadding .photo {
  display: none;
}
.storyContainerPadding .entry {
  border: none;
  margin: 0px;
  padding: 0px;
}
.storyContainerPadding .x-lconn-userid {
  display: none;
}
.lotusBoard .entry {
  border: none;
  margin: 0px;
  padding: 0px;
}
.lotusPostAuthorInfo {
  width: 45px;
  position: static;
}
.lotusContent textarea.homeStatusTextArea {
  overflow: auto;
}
.lotusContent .homeSavedStory {
  font-size: 0.9em;
}
.lotusSection div.homeTodoListContainerNode {
  word-wrap: break-word;
}
.lotusSection2 .homepageNoTodos {
  font-weight: normal;
}
.lotusSection2 .lotusTable .homepageOverdueTodo {
  color: red;
  font-weight: bold;
}
.storyTitleBar span.sprite {
  margin-right: 6px;
  width: 16px;
  height: 16px;
}
.pagingAlign {
  margin-left: 10px;
}
.localize-date {
  white-space: nowrap;
}
.toggle-action {
  white-space: nowrap;
}
.lotusPostContent .localize-date {
  margin-left: 1px;
}
.river-source-selector li {
  vertical-align: middle;
}
.dijitDialogPaneContent .lconnStopFollow .lotusDialogContent {
  padding-left: 12px;
}
.lconnStopFollow .followingTitleDiv {
  padding: 0 5px 0 5px;
}
.lotusui .lconnStopFollow h3 {
  font-size: 1.1em;
  font-weight: bold;
  float: none;
  padding: 0;
  margin: 0;
}
.lconnStopFollow .followingDescDiv {
  padding: 0 5px 5px 5px;
}
.lconnStopFollow {
  width: 400px;
}
.lconnStopFollow .followingInfo {
  background-color: #EAECEE;
  padding: 5px;
  margin: 5px 5px 0 0;
}
.lconnStopFollow .followingInfoHeader {
  cursor: pointer;
}
.lconnStopFollow .followingInfoText {
  padding: 5px;
}
.lconnStopFollow .checkboxColumn {
  vertical-align: top;
  padding-left: 5px;
}
.lconnStopFollow a.cancelLink,
.lconnStopFollow a.cancelLink:visited,
.lconnStopFollow a.cancelLink:hover,
.lconnStopFollow a.cancelLink:focus,
.lconnStopFollow a.cancelLink:active {
  color: gray;
}
.lotusui .lconnStopFollow label {
  margin-bottom: 0;
}
.tundra .dijitTabPaneWrapper {
  background: #fff;
  margin: 0;
  padding: 10px;
  z-index: 1;
  overflow-y: auto;
  border: solid #eee;
  border-width: 1px 1px 1px 0px;
}
.tundra .dijitTabContainerLeft-tabs {
  margin-width: 3px;
  border-width: 1px;
  border-color: #eee !important;
}
.tundra .dijitTabHover {
  border-color: #eee;
}
.tundra .dijitTab {
  line-height: normal;
  margin-right: -1px;
  padding: 0px;
  border: 1px solid #eee;
  color: #666666 !important;
  background: #ffffff;
  -moz-border-radius: 0px 0px 0px 0px;
  z-index: 0;
}
.tundra .dijitTabChecked {
  background-color: #fff;
  border-color: #eee;
  border-width: 1px;
  background-image: none;
  color: #000000!important;
}
.tundra .dijitTabContainerLeft .dijitTabHover {
  background-image: none;
  color: #243C5F!important;
  border-color: #eee;
}
.tundra .dijitTabContainer .dijitTabCheckedHover {
  color: inherit;
  border: 3px solid #eee;
  background: #fff;
  background-image: none;
}
.tundra .dijitTabContainterLeft-tabs {
  padding-top: 0px;
  border-color: #eee;
}
.tundra .dijitTabContainerLeft-tabs .dijitTab,
.tundra .dijitTabContainerRight-tabs .dijitTab {
  margin-right: 1px;
  margin-bottom: 0px;
  border-width: 1px;
}
.tundra .dijitTabContainerLeft-tabs .dijitTabChecked {
  border-right-color: white !important;
  border-right-width: 1px;
}
.tundra .dijitTabContainerLeft-container {
  margin-left: 1px;
}
.tundra .dijitTabContainerLeft-spacer,
.tundra .dijitTabContainerRight-spacer {
  width: 0px;
  border-left: 1px solid #eee;
  background: #fff;
}
.startContent .stepNum {
  font-weight: bolder;
}
.startContent .tabLabel {
  font-size: 1.1em;
  font-weight: bolder;
}
.startContent {
  height: 390px;
  width: auto;
}
.dijitTabContainerLeft-tabs .dijitTab {
  left: 3px;
}
.tundra .dijitTabSpacer {
  display: none;
}
.gettingStartedHeader {
  margin-top: 5px;
}
.gettingStartedDontShowLabel {
  margin-left: 4px;
  margin-right: 0px;
}
.lotusui .gettingStartedActionLink {
  margin-bottom: 5px;
  font-size: 1.1em;
  font-weight: normal;
}
.lotusui .gettingStartedActionLinkSelected {
  margin-bottom: 5px;
  font-size: 1.1em;
  font-weight: bold;
}
.tundra .lotusContent {
  border: 0;
  -moz-box-shadow: none;
  min-height: 0;
}
.lotusui30 .exploreContent .lotusLayout {
  width: 100%;
  table-layout: fixed;
}
.lotusui30 .lotusLayout td.exploreAppsColumn {
  padding-right: 20px;
  width: 110px;
  word-wrap: break-word;
}
.lotusui30 .lotusLayout td.exploreTextContainer {
  padding-left: 10px;
  padding-right: 10px;
  word-wrap: break-word;
}
#stepOneTitle {
  margin-bottom: 20px;
}
.exploreTextContent {
  padding-right: 20px;
}
.iconApp {
  padding-right: 7px;
}
.exploreTextContainerIntroduction {
  margin-top: 10px;
}
.exploreTextContainer .lotusInactive {
  margin-top: 30px;
}
.gettingStartedComponentInfo {
  margin-top: 10px;
}
.gettingStartedComponentLinks {
  margin-top: 17px;
}
.exploreComponentLinksSpan {
  margin-right: 10px;
  font-weight: bolder;
}
.exploreDemoColumn {
  width: 325px;
}
.demoThumbnailImg {
  padding-bottom: 1px;
  margin-right: 5px;
}
.shareContent .lotusLeft {
  margin: 0 20px 0 0;
}
.shareContent .shareIcon {
  margin: 0 20px 0 0;
}
.shareContent .lotusLayout {
  margin-top: 12px;
  width: 100%;
}
td.shareLayoutFirstColumn {
  width: 50%;
  padding: 10px 10px 10px 20px;
}
td.shareComponentContainer {
  padding: 10px;
  vertical-align: middle;
}
.shareComponentContainer .lotusInactive {
  margin-top: 5px;
}
.shareComponentInfoValue {
  padding: 0 7px 0 4px;
}
.stepOne .lotusLeft {
  margin: 0px 20px 40px 0px;
}
.stepOneContent {
  word-wrap: break-word;
}
.gettingStartedCheckboxContainer {
  margin-top: 5px;
}
.lotusContent .gettingStartedContent {
  min-height: 300px !important;
  margin-right: 10px !important;
}
.lotusui30_layout .lotusMain .lotusContent .gettingStartedContent {
  padding-top: 0px;
}
.lotusContent .dijitTabButtonIcon {
  display: none;
}
div.lotusContent .dijitTabChecked .dijitTabInnerDiv {
  background-color: #FFFFFF;
}
.lotusContent .dijitTab .dijitTabInnerDiv {
  background-color: #FAFAFA;
}
.lotusui .lotusHeading1 {
  color: #444444;
  font-size: 1.7em;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}
.lotusui .lotusHeading3 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.startContent .tabSpan {
  font-weight: bolder;
  margin-left: 5px;
}
.startContent .dijitTabInnerDiv {
  padding: 15px;
}
.gettingStartedExploreDemolink {
  margin-top: 10px;
}
.lotusui_ie6 .lotusWidget {
  overflow: hidden;
}
.lotusui_ie6 .lotusWidget3Col {
  overflow: hidden;
}
.lotusui_ie6 .lotus3Col {
  overflow: hidden;
  height: 375px;
  vertical-align: top;
}
.lotusui_ie .lotusWidgetTable {
  table-layout: fixed;
}
.lotusui_ie .lotusWidgetLink {
  width: expression( document.body.clientWidth  > 991 ? (document.body.clientWidth / 2) - 114 + \"px\" : \"395px\");
  /*escaping to get LESS to compile*/

  text-overflow: ellipsis;
}
.lotusui_ie .lotusWidgetLink3Col {
  width: expression( document.body.clientWidth  > 991 ? (document.body.clientWidth / 3) - 114 + \"px\" : \"220px\");
  text-overflow: ellipsis;
}
* html .dijitDialogPaneContent {
  height: 380px;
}
* + html .dijitDialogPaneContent {
  height: expression(this.height > 379 ? \"380px\" : this.height + \"px\");
}
* html .dijitDialogPaneContent {
  width: 600px;
  overflow-x: auto;
}
*html .lotusWidgetButtons div {
  width: 0px;
  padding: 0px;
}
*html .lotusWidgetButtons .dijitButtonNode {
  background-color: transparent;
  width: 20px;
  height: 28px;
  margin-right: 0px;
  padding: 0px;
}
*html .lotusWidgetButtons .lotusTitle {
  margin-left: 0px;
  width: 85px;
}
*html .lotusWidgetButtons {
  background-color: #fff;
  border: 1px solid #d8e0ed;
  background-image: url("/sn.coreui/Web Content/common/styles/base/widgetButtonBkgd.gif");
  padding: 2px;
  cursor: move;
  width: 145px;
}
*html .lotusWidgetButtons .dijitButtonNode {
  background-color: transparent;
  width: 20px;
  height: 28px;
  margin: 0px;
  border: 0px none;
  padding: 0px;
}
*html .lotusWidgetButtons .dijitButtonNode img {
  padding: 0px;
  margin: 0px;
}
.lotusui_ie .dijitDialogPaneContent {
  overflow-y: auto !important;
}
.lotusui_ie input.lotusSearchAlignHack {
  margin-top: 2px !important;
}
.lotusWidget .widgetTitle {
  color: #666;
}
.lotusWidget .dijitButtonNode {
  background-color: transparent;
  padding: 0px 2px 0px 2px;
  margin-right: 5px;
  border: 0px;
}
.lotusWidget h2 .dijitButtonNode {
  background-color: transparent;
  cursor: pointer;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 20px;
  height: 18px;
}
.lotusWidget h2 .dijitButtonNode img {
  margin: 0px;
  padding: 0px;
}
.lotusWidget .option-form {
  background-color: #C7E1FA;
  margin-bottom: 5px;
}
.lotusWidget .option-form select {
  border: 1px solid #A7A9BB;
  margin-left: 2px;
}
.lotusWidget .option-form input {
  border: 1px solid #a7a9bb;
  margin-top: 2px;
  margin-left: 2px;
}
.lotusWidget .option-form .button-save {
  margin-top: 0;
  margin-right: 7px;
  margin-left: 0px;
  clear: both;
  padding: 0px;
}
.lotusui_ie7 .lotusWidget .option-form .button-save {
  margin-left: -11px;
}
.lotusui_ie6 .lotusWidget .lotusFormButton {
  height: 20px;
}
.lotusWidget a {
  cursor: pointer;
}
.lotusWidget .loading {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.lotusWidget .dijitDropDownButton {
  margin: 0px;
  width: 16px;
}
.lotusWidget .lotusForm2 .lotusFormBody {
  padding-top: 10px;
}
.lotusWidget .lotusForm2 .lotusFormBody .option-caption {
  padding-right: 5px;
}
.lotusWidgetButtons {
  background-color: #fff;
  border: 1px solid #d8e0ed;
  background-image: url("/sn.coreui/Web Content/common/styles/base/widgetButtonBkgd.gif");
  padding: 2px;
  cursor: move;
}
.lotusWidgetButtons div {
  background-position: 5px 0pt;
  background-repeat: no-repeat;
  cursor: move;
  display: block;
  line-height: 1em;
  text-decoration: none;
  padding: 0px;
}
.lotusWidgetButtons .dijitButtonNode {
  background-color: transparent;
  width: 16px;
  margin-right: 0px;
  border: 0px none;
  padding: 0px;
}
.lotusWidgetButtons .dijitButtonNode img {
  padding: 0px;
  margin: 0px;
}
.divider {
  color: #666;
}
.meta {
  color: #222;
}
.dijitPopup {
  position: absolute;
}
.lotusWidgetWelcome {
  background: url("/sn.coreui/Web Content/common/styles/base/welcome_widget_bg.jpg") repeat-x;
  background-color: #dfe9f4;
}
.lotusWidgetError {
  background: url("/sn.coreui/Web Content/common/styles/base/welcome_widget_bg.jpg") repeat-x;
  background-color: #dfe9f4;
}
.widgetTagIcon {
  background: url("/sn.coreui/Web Content/common/styles/base/iconTags.gif") no-repeat;
  width: 16px;
  height: 16px;
  padding-left: 18px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 5px;
}
.widgetFeedLink {
  padding-right: 5px;
}
.lotusTags {
  padding-top: 1px;
  padding-bottom: 1px;
}
.dijitA11yDownArrow {
  color: #6794cb;
  font-size: 1.0em;
}
.dijitMenuItem td {
  padding: 2px;
  font-size: 1.0em;
  margin: 0px;
}
.lotusSearchButton {
  margin: 0px;
}
.lotusForm h2.homepageSearchAdvancedH2 {
  margin: 25px 15px 15px 0px;
}
.lotusSearch .lotusText,
.lotusSearch .dijitTextBox {
  text-align: left;
}
.lotusTitleBar2 .lotusInner .lotusSearch .lotusLayout .lotusScope {
  border-right: 1px solid #E3E3E3;
  font-size: 13.5px;
  line-height: 17.95px;
  min-width: 11em;
  padding-right: 14px;
}
.lotusui_ie7 .lotusTitleBar2 .lotusInner .lotusSearch .lotusLayout .lotusScope {
  min-width: 0;
}
.lotusui30 .lotusContent .lotusWelcomeBox p {
  padding-right: 0;
}
.dijitCalendarBodyContainer .dayFlagPersonalTask {
  background-color: #c7e1fa !important;
  border-bottom: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
  cursor: pointer;
  cursor: hand;
}
.dijitCalendarBodyContainer .dayFlagTeamTask {
  background-color: #ccffaa !important;
  border-bottom: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
  cursor: pointer;
  cursor: hand;
}
.dijitCalendarBodyContainer .dayFlagOverdueTask {
  background-color: #f99;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  cursor: pointer;
  cursor: hand;
}
.dijitCalendarBodyContainer .dayFlagTodayTask {
  background-color: #ffa;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  cursor: pointer;
  cursor: hand;
}
.dijitCalendarMonthLabelSpacer {
  position: relative;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}
.dijitCalendarIncrease {
  cursor: pointer;
  display: inline;
  margin-right: 16px;
  height: 16px;
  font-size: 16px;
  background: transparent url("/sn.coreui/Web Content/common/styles/base/arrow_right.gif") no-repeat 2px 3px;
}
.activitiesCalPopup .dijitTooltip {
  position: absolute;
  z-index: 2000;
  display: block;
  left: 50%;
  top: -10000px;
  overflow: visible;
}
.activitiesCalPopup .dijitTooltipContainer {
  border: none;
  background: transparent;
  color: black;
  font-size: small;
}
.activitiesCalPopup .dijitTooltipFocusNode {
  padding: 0px 0px 0px 0px;
}
.activitiesCalPopup .dijitTooltipConnector {
  position: absolute;
}
.dijitCalendarDateTemplate {
  cursor: default;
}
a:focus {
  outline-color: invert;
  outline-style: dotted;
  outline-width: 1px;
}
.lotusSort .lotusInlinelist a:visited {
  text-decoration: underline;
}
.lotusSort .lotusInlinelist a:visited .lotusActiveSort {
  text-decoration: none;
}
input.lotusSearchAlignHack {
  margin-top: 3px !important;
}
.updatePage div.lotusContent {
  padding-left: 10px;
}
.updatePage .lotusWidget {
  border: none;
  margin: 0;
}
.myPage div.lotusContent {
  padding-left: 5px;
  padding-right: 0px;
}
.lotusWidget2 h2 {
  cursor: default !important;
}
.lotusWidget .option-form .button-save input {
  margin-top: 0;
}
.gettingStartedWelcomeText {
  margin-left: 84px;
}
.tagManagerContentNode input {
  width: 340px;
}
.tagManagerContentNode {
  width: 430px;
}
.tagManagerDialog .tagManagerDesc {
  margin-bottom: 5px;
}
.removeTagCloud {
  overflow-y: auto;
  max-height: 120px;
}
.tagManagerDialog .dijitDialogPaneContent .lotusDialog .lotusDialogContent {
  max-height: 100%;
}
.tagManagerDialog .lotusDelete {
  cursor: pointer;
}
.confirmDialogMessageNode {
  width: 500px;
}
.lotusPost .commentInput {
  padding-left: 45px;
}
.lotusui30 .lotusMenu .lotusUnreadBadge.lotusHidden {
  display: none;
}
.lotusui30 .lotusMain .lotusBoard .lotusHeader a.asHeaderLink {
  color: #444444;
}
.lotusui30.lotusImagesOff .welcomeNoteImage {
  display: none;
}
.editWidgetFormMainTable {
  padding: 5px;
}
table.editWidgetFormMainTable td {
  padding: 0;
}
.lotusui_ie .lotusSection .widgetTabField {
  vertical-align: middle;
}
.lotusui30dojo .lotusWidgetBody .datePickerContainer td.dijitCalendarCurrentMonth {
  font-weight: normal;
}
.lotusui30dojo .lotusWidgetBody .datePickerContainer td.dijitCalendarCurrentDate.dijitCalendarCurrentMonth {
  font-weight: bold;
}
.lotusui30dojo .lotusWidgetBody td.dijitCalendarDateTemplate {
  width: 14%;
  letter-spacing: 0;
}
.lotusui30dojo .lotusWidgetBody .dijitCalendarDateTemplate span.dijitCalendarDateLabel {
  padding: 2px 3px;
}
.lotusui_ie .dijitPopup .activitiesCalPopup {
  overflow: visible;
}
#adminEditForm label,
#adminEditForm .lotusFormLabel {
  word-break: normal;
}
#adminEditForm .lotusText {
  width: 550px;
}
#adminEditForm .lotusMeta {
  width: 550px;
}
#gadgetSettings .lotusText,
#gadgetSettings select {
  width: 250px;
}
#gadgetSettings .lotusMeta {
  width: 550px;
}
.lotusui30 .lotusMenu .lotusMenuSection {
  margin: 10px 0 0;
  padding: 10px 0 0;
  overflow: visible;
}
.lotusui30 .lotusMenu .lotusMenuSection:first-child {
  margin-top: 0;
  padding-top: 0;
}
.lotusui30 .lotusMenu .lotusMenuSection:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 1px;
  margin-left: 20px;
  background: #2b2d30;
  border-bottom: 1px solid #434b4d;
}
.lotusui30 .lotusMenu .lotusMenuSection:first-child:before {
  content: none;
}
.lotusui30 .lotusMenu li a,
.lotusui30 .lotusMenu li a:visited,
.lotusui30 .lotusMenu li a:hover,
.lotusui30 .lotusMenu li a:focus,
.lotusui30 .lotusMenu li a:active {
  padding: 5px 20px 5px 47px;
  font-size: 1.07692307692308em; /*14px*/
}
.lotusui30 .lotusMenu li.lotusSelected a,
.lotusui30 .lotusMenu li.lotusSelected a:visited,
.lotusui30 .lotusMenu li.lotusSelected a:hover,
.lotusui30 .lotusMenu li.lotusSelected a:focus,
.lotusui30 .lotusMenu li.lotusSelected a:active {
  padding: 5px 20px 5px 47px;
}
/*MENU ICONS - new */
.lotusui30 .lotusMenu .lconnStreamIcon {
  /*hide icon when rows don't have a defined icon*/
  background: url("../../../sprite/sprite16.png") no-repeat 0 -99999px;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 7px;
  left: 20px;
  display: block;
}
/*getting started*/
.lotusui30 .lotusMenu .lconnHomepageGettingStarted .lconnStreamIcon {
  background-position: 0 0;
}
.lotusui30 .lotusMenu .lconnHomepageGettingStarted a:hover .lconnStreamIcon,
.lotusui30 .lotusMenu .lconnHomepageGettingStarted a:focus .lconnStreamIcon {
  background-position: -16px 0;
}
.lotusui30 .lotusMenu .lconnHomepageGettingStarted.lotusSelected a .lconnStreamIcon {
  background-position: -32px 0;
}
/*i'm following*/
.lotusui30 .lotusMenu .lconnHomepageImFollowing .lconnStreamIcon {
  background-position: -48px 0;
}
.lotusui30 .lotusMenu .lconnHomepageImFollowing a:hover .lconnStreamIcon,
.lotusui30 .lotusMenu .lconnHomepageImFollowing a:focus .lconnStreamIcon {
  background-position: -64px 0;
}
.lotusui30 .lotusMenu .lconnHomepageImFollowing.lotusSelected a .lconnStreamIcon {
  background-position: -80px 0;
}
/*status updates*/
.lotusui30 .lotusMenu .lconnHomepageStatusUpdates .lconnStreamIcon {
  background-position: -96px 0;
}
.lotusui30 .lotusMenu .lconnHomepageStatusUpdates a:hover .lconnStreamIcon,
.lotusui30 .lotusMenu .lconnHomepageStatusUpdates a:focus .lconnStreamIcon {
  background-position: -112px 0;
}
.lotusui30 .lotusMenu .lconnHomepageStatusUpdates.lotusSelected a .lconnStreamIcon {
  background-position: -128px 0;
}
/*my notifications*/
.lotusui30 .lotusMenu .lconnHomepageMyNotifications .lconnStreamIcon {
  background-position: -240px 0;
}
.lotusui30 .lotusMenu .lconnHomepageMyNotifications a:hover .lconnStreamIcon,
.lotusui30 .lotusMenu .lconnHomepageMyNotifications a:focus .lconnStreamIcon {
  background-position: -256px 0;
}
.lotusui30 .lotusMenu .lconnHomepageMyNotifications.lotusSelected a .lconnStreamIcon {
  background-position: -272px 0;
}
/*mentions*/
.lotusui30 .lotusMenu .lconnHomepageAtMentions .lconnStreamIcon {
  background-position: -144px 0;
}
.lotusui30 .lotusMenu .lconnHomepageAtMentions a:hover .lconnStreamIcon,
.lotusui30 .lotusMenu .lconnHomepageAtMentions a:focus .lconnStreamIcon {
  background-position: -160px 0;
}
.lotusui30 .lotusMenu .lconnHomepageAtMentions.lotusSelected a .lconnStreamIcon {
  background-position: -176px 0;
}
/*action required*/
.lotusui30 .lotusMenu .lconnHomepageActionRequired .lconnStreamIcon {
  background-position: -192px 0;
}
.lotusui30 .lotusMenu .lconnHomepageActionRequired a:hover .lconnStreamIcon,
.lotusui30 .lotusMenu .lconnHomepageActionRequired a:focus .lconnStreamIcon {
  background-position: -208px 0;
}
.lotusui30 .lotusMenu .lconnHomepageActionRequired.lotusSelected a .lconnStreamIcon {
  background-position: -224px 0;
}
/*saved*/
.lotusui30 .lotusMenu .lconnHomepageSaved .lconnStreamIcon {
  background-position: -288px 0;
}
.lotusui30 .lotusMenu .lconnHomepageSaved a:hover .lconnStreamIcon,
.lotusui30 .lotusMenu .lconnHomepageSaved a:focus .lconnStreamIcon {
  background-position: -304px 0;
}
.lotusui30 .lotusMenu .lconnHomepageSaved.lotusSelected a .lconnStreamIcon {
  background-position: -320px 0;
}
/*discover*/
.lotusui30 .lotusMenu .lconnHomepageDiscover .lconnStreamIcon {
  background-position: -336px 0;
}
.lotusui30 .lotusMenu .lconnHomepageDiscover a:hover .lconnStreamIcon,
.lotusui30 .lotusMenu .lconnHomepageDiscover a:focus .lconnStreamIcon {
  background-position: -352px 0;
}
.lotusui30 .lotusMenu .lconnHomepageDiscover.lotusSelected a .lconnStreamIcon {
  background-position: -368px 0;
}
/*my page*/
.lconnHomepageMyPage .lotusui30_layout .lotusMain .lotusContent {
	padding: 0;
}
.lotusui30 .lotusMenu .lconnHomepageMyPage .lconnStreamIcon {
  background-position: -384px 0;
}
.lotusui30 .lotusMenu .lconnHomepageMyPage a:hover .lconnStreamIcon,
.lotusui30 .lotusMenu .lconnHomepageMyPage a:focus .lconnStreamIcon {
  background-position: -400px 0;
}
.lotusui30 .lotusMenu .lconnHomepageMyPage.lotusSelected a .lconnStreamIcon {
  background-position: -416px 0;
}
/*administration*/
.lotusui30 .lotusMenu .lconnHomepageAdmin .lconnStreamIcon {
  background-position: -432px 0;
}
.lotusui30 .lotusMenu .lconnHomepageAdmin a:hover .lconnStreamIcon,
.lotusui30 .lotusMenu .lconnHomepageAdmin a:focus .lconnStreamIcon {
  background-position: -448px 0;
}
.lotusui30 .lotusMenu .lconnHomepageAdmin.lotusSelected a .lconnStreamIcon {
  background-position: -464px 0;
}
/*remove @*/
.lotusui30 .lconnHomepageMentionsAt {display:none;}
/*GETTING STARTED*/
#gettingStartedTitle {
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: bold;
}

/*RTC 91262 Fix for Event widget incorrect border bottom*/
.lotusui30 .lotusSection2 .lotusSectionFooter,
.lotusui30 .lotusSection .lotusSectionFooter,
.lotusui30 .lotusWidget .lotusWidgetFooter,
.lotusui30 .lotusWidget2 .lotusWidgetFooter {
  float: left;
  width: 100%;
}
